{% macro fieldset(id, label, info, required) %}
  <fieldset>
    <div class="field">
      <legend class="label">
        {{ label }}
        {% if required %}<span aria-hidden="true">*</span>{% endif %}
        {% if info %}
          <div id="{{ id + "Info" }}" class="info">{{ info | markdown | safe }}</div>
        {% endif %}
      </legend>
      {{ caller() }}
  </fieldset>
{% endmacro %}

{% macro input(id, type, label, info, options, required=true, example, confirmLabel) %}

{% if type === "heading" %}
  <h2>{{ label }}</h2>
{% elif type === "select" %}
  {% call fieldset(id, label, info, required) -%}
    {% if options | length < 8 %}
        <div class="stack">
          {% for option in options %}
            <div class="hstack">
              <input type="radio" value="{{ option }}" name="{{ id }}" id="{{ id + loop.index}}" {{ "required" if required }}>
              <label for="{{ id + loop.index }}">{{ option }}</label>
            </div>
          {% endfor %}
        </div>
    {% else %}
      <div class="select">
        <select id="{{ id }}" name="{{ id }}" aria-labelledby="{{ id + "Info" }}" {{ "required" if required }}>
          <option value="">Select an option</option>
          {% for option in options %}
            <option>{{ option }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
  {%- endcall %}
{% elif type === "multiple" %}
  {% call fieldset(id, label, info, required) -%}
    <div class="stack">
      {% for option in options %}
        <div class="hstack">
          <input type="checkbox" name="{{ id }}" id="{{ id + loop.index}}" {{ "required" if required }}>
          <label for="{{ id + loop.index }}">{{ option }}</label>
        </div>
      {% endfor %}
    </div>
  {%- endcall %}
{% elif type === "confirm" %}
  {% call fieldset(id, label, info, required) -%}
    <div class="hstack">
      <input type="checkbox" id="{{ id }}" name="{{ id }}" value="Yes" aria-labelledby="{{ id + "Info" }}" {{ "required" if required }}>
      <label for="{{ id }}">{{ confirmLabel }}</label>
    </div>
  {%- endcall %}
{% else %}
  <div class="field">
    <label for="{{ id }}" class="label">
      {{ label }}
      {% if required %}<span aria-hidden="true">*</span>{% endif %}
    </label>
    {% if info %}
      <div id="{{ id + "Info" }}" class="info">{{ info | markdown | safe }}</div>
    {% endif %}
    {% if type === "longtext" %}
      <textarea rows="5" id="{{ id }}" name="{{ id }}" aria-labelledby="{{ id + "Info" }}" {{ "required" if required }} placeholder="{{ example }}"></textarea>
    {% elif type === "textdate" %}
      <text-date>
        <input
          type="text"
          id="{{ id }}"
          name="{{ id }}"
          aria-labelledby="{{ id + "Info" }}"
          {{ "required" if required }}
          placeholder="dd/mm/yyyy">
        </text-date>
    {% else %}
      <input type="{{ type }}" id="{{ id }}" name="{{ id }}" aria-labelledby="{{ id + "Info" }}" {{ "required" if required }} placeholder="{{ example }}">
    {% endif %}
  </div>
{% endif %}

{% endmacro %}