<ul style="list-style: none; padding-left: 0">
  {% for challenge in challenges %}
    <li>
      <input type="checkbox" id="kata-{{ challenge.id }}" class="checkbox vh task-list-item-checkbox">
      <label for="kata-{{ challenge.id }}">
        <span>
          <a href="{{ challenge.url }}">{{ challenge.name }}</a>
          (Rank {{ challenge.rank }})
        </span>
      </label>
    </li>
  {% endfor %}
</ul>