---
layout: layouts/base
---

<main class="document">
  <header>
    <h1>{{ title }}</h1>
    {% if date %}
      <p><strong>{{ date | formatDate }}</strong></p>
    {% endif %}
  </header>
  {{ content | safe }}
</main>
