---
layout: layouts/base
---

{% import "components/fields.njk" as forms %}

<main class="layout document flow">
  <header class="stripes layout--inherit layout--breakout" style="--px: 0">
    <div class="highlight">
      <h1 style="font-size: var(--font6)">{{ title }}</h1>
    </div>
  </header>
  <div class="flow">
    {{ content | safe}}
  </div>
  <restrain-form validateonblur scrolltoinvalid style="--flow-space: var(--space5)">
    <form class="flow" style="--flow-space: var(--space5)" method="POST" action="/.netlify/functions/forms">
      {% for field in fields %}
        {{ forms.field(
          type=field.type if field.type !== undefined else "text",
          id=field.id,
          label=field.label,
          info=field.info,
          options=field.options,
          example=field.example,
          required=field.required if field.required !== undefined else true,
          confirmLabel=field.confirmLabel if field.confirmLabel !== undefined else 'I agree',
          validationMessages=field.validationMessages,
          matchId=field.matchId,
          maxLength=field.maxLength
        ) }}
      {% endfor %}
      <input type="hidden" name="base" value="{{ base }}">
      <input type="hidden" name="table" value="{{ table }}">
      <button type="submit">Submit</button>
    </form>
  </restrain-form>
</main>

<script src="/assets/js/restraint.js" defer></script>
<script src="/assets/js/inputs.js" defer></script>