---
layout: layouts/base
---

<main class="layout marketing flow">
  <header
      class="layout--inherit layout--breakout flow stripes"
      style="--px: 0; --flow-space: var(--space4)"
    >
    <div
      class="highlight"
      {% if page.url === "/" %}
      style="--bg: var(--primary)"
      {% endif %}
    >
      <h1>
        {{ title }}
      </h1>
    </div>
    {% if description %}
      <div class="highlight">
        <p style="font-size: var(--font5)">{{ description }}</p>
      </div>
    {% endif %}
  </header>
  {# <hr> #}
  {{ content | safe }}
</main>
