---
title: Stories by and about us
description: Curious to learn more about us? Here you’ll find stories by and about our diverse community of founders and coders making a social impact with technology all over the world.
layout: layouts/marketing
tags: nav
navLabel: Stories
order: 5
---

<div class="stack6 layout--breakout" style="--flow-space: var(--space6)">
  <section class="stripes stack4">
    <div class="highlight">
      <h2>Stories by us</h2>
    </div>
    <div class="reel" tabindex="0">
      {% for story in collections["by-us"] | reverse %}
        {% include "components/story.njk" %}
      {% endfor %}
    </div>
  </section>

  <section class="stripes stack4">
    <div class="highlight">
      <h2>Stories about us</h2>
    </div>
    <div class="reel" tabindex="0">
      {% for story in collections["about-us"] | reverse %}
        {% include "components/story.njk" %}
      {% endfor %}
    </div>
  </section>

  <section class="stripes stack4">
    <div class="highlight">
     <h2>In the press</h2>
    </div>
    <div class="reel" tabindex="0">
      {% for story in collections.press | reverse %}
        {% include "components/story.njk" %}
      {% endfor %}
    </div>
  </section>
</div>
